@CHARSET "ISO-8859-1";

body{
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
}

#progress {
	border: solid thin silver;
	width: 500px;
	margin: 0px 0px 0px 100px;
	height: 20px;
}

#progress_bar {
	background-color: lightgreen;
	width: 0%;
	padding: 20px 0px 0px 0px;
}

#message {
	margin: 0px 0px 0px 100px;
	height: 20px;
}

#button {
	margin: 20px 0px 0px 10px;
	float: left;
}

input[type=button] {
	padding: 15px 15px 15px 15px;
}

input[type=radio] {
	width: 40px;
	height: 20px;
	cursor: pointer;
	margin: 0px 20px 0px 10px;
}

#question {
	margin: 0px 0px 0px 100px;
	float: left;
	border: solid thin silver;
}

div.error {
	color: Red;
}

div.success {
	color: Green;
}

div.choice {
	vertical-align: top;
	text-align: right;
}

div {
	padding: 5px 5px 5px 5px;
}