@CHARSET "ISO-8859-1";
#message {
	height: 15px;
}

#question {
	margin: 0px 50px 0px 50px; 
}

#progress {
	border: solid thin silver;
	width: 500px;
}

#progress_bar {
	background-color: lightgreen;
	width: 0%;
	padding: 20px 0px 0px 0px;
}

div.error {
	color: Red;
}

div.success {
	color: Green;
}

div {
	padding: 5px 5px 5px 5px;
}